@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    min-height: 100vh;  
    font-family: 'Outfit', sans-serif; 
}
.container{
    margin: 0 auto;
    max-width: 360px;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card{
    background-color: hsl(0, 0%, 100%);
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
}
.text{
    text-align: center;
    color: hsl(218, 44%, 22%);    
    padding: 10px;
}
.card p{
    color: hsl(220, 15%, 55%);
    padding-top: 20px;
    padding-bottom: 20px;   
}

